.react-page-editable {
  .react-page-cell-handle {
    display: none;
  }
  &&-mode-edit,
  &&-mode-resizing,
  &&-mode-layout {
    .react-page-cell-handle {
      position: absolute;
      top: 0px;
      left: -1px;
      transform: translateY(-100%);
      transition: opacity ease 0.4s;
      opacity: 1;

      color: rgba(0, 0, 0, 0.97);
      background: rgba(255, 255, 255, 0.95);
      text-align: center;
      color: rgba(0, 0, 0, 0.97);

      display: inline-block;
      padding: 9px 18px;
      margin: 0 auto;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.2;

      box-shadow: -2px -2px 10px 0px rgb(0 0 0 / 22%);
      pointer-events: none;
    }

    .react-page-cell-handle:last-child {
      box-shadow: -2px -2px 10px 0px rgb(0 0 0 / 22%), 2px -2px 10px 0px rgb(0 0 0 / 22%);
    }

    .react-page-cell-handle-no-width {
      border-width: 1px 1px 1px 1px;
      border-style: solid ;
      border-color: var(--bs-danger) var(--bs-danger) rgba(255, 255, 255, 0.95) var(--bs-danger) !important;
    }

    .react-page-cell-handle-drag-enabled {
      cursor: move;
    }

    .react-page-cell:hover > .react-page-cell-handle,
    .react-page-cell.react-page-cell-focused > .react-page-cell-handle {
      opacity: 1;
      pointer-events: all;
    }
  }
}
